<a href="https://colab.research.google.com/github/ScottTeran/sandbox/blob/main/kaggle_tabular_jan_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict, GridSearchCV
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRFRegressor, cv

In [2]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

In [3]:
# this is an aesthetic choice and just removes the many warnings that some functions and comands produce
# it helps significantly declutter the workbook
import warnings
warnings.filterwarnings('ignore')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   row_id    26298 non-null  int64
 1   date      26298 non-null  object
 2   country   26298 non-null  object
 3   store     26298 non-null  object
 4   product   26298 non-null  object
 5   num_sold  26298 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.2+ MB

In [5]:
train.head(5)

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

## feature engineering

In [6]:
# Credit to https://www.kaggle.com/ranjeetshrivastav/tps-jan-21-base-xgb
# and https://www.kaggle.com/bernhardklinger/tps-jan-2022/notebook

def feature_eng(df):
    df['date'] = pd.to_datetime(df['date'])
    df['week']= df['date'].dt.week
    df['year'] = 'Y' + df['date'].dt.year.astype(str)
    df['quarter'] = 'Q' + df['date'].dt.quarter.astype(str)
    df['day'] = df['date'].dt.day
    df['dayofyear'] = df['date'].dt.dayofyear
    df.loc[(df.date.dt.is_leap_year) & (df.dayofyear >= 60),'dayofyear'] -= 1
    df['weekend'] = df['date'].dt.weekday >=5
    df['weekday'] = 'WD' + df['date'].dt.weekday.astype(str)
    df.drop(columns=['date'],inplace=True)  

feature_eng(train)
feature_eng(test)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row_id     26298 non-null  int64
 1   country    26298 non-null  object
 2   store      26298 non-null  object
 3   product    26298 non-null  object
 4   num_sold   26298 non-null  int64
 5   week       26298 non-null  int64
 6   year       26298 non-null  object
 7   quarter    26298 non-null  object
 8   day        26298 non-null  int64
 9   dayofyear  26298 non-null  int64
 10  weekend    26298 non-null  bool
 11  weekday    26298 non-null  object
dtypes: bool(1), int64(5), object(6)
memory usage: 2.2+ MB

In [8]:
string_cols = [col for col in train.columns if train[col].dtype == 'object']

In [9]:
train = pd.get_dummies(train, columns=string_cols, drop_first=True)
test = pd.get_dummies(test, columns=string_cols, drop_first=True)

In [10]:
train.shape

(26298, 23)

In [11]:
test.shape

(6570, 19)

In [12]:
train = train.drop(columns=['year_Y2016', 'year_Y2017', 'year_Y2018'])

## train/test split

In [13]:
X = train.drop(columns='num_sold', axis=1)
y = train['num_sold']

X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=42)

## XGBoost model

In [14]:
# instantiate model
model_1 = XGBRFRegressor(n_estimators=75)
model_1.fit(X_train, y_train)

[00:00:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRFRegressor(n_estimators=75)

In [15]:
preds_1 = model_1.predict(X_valid)

In [16]:
mae_1 = mean_absolute_error(preds_1, y_valid)

print('Mean Absolute Error:', mae_1)

Mean Absolute Error: 85.30543614724743

In [17]:
# credit to https://www.statology.org/smape-python/

def smape(a, f): # 'a' for actual, and 'f' for forecast
    return 1/len(a) * np.sum(2 * np.abs(f-a) / (np.abs(a) + np.abs(f))*100)

In [18]:
smape(y_valid, preds_1)

19.725371849398908

## parameter tuning

In [19]:
model_2 = XGBRFRegressor()
model_2.fit(X_train, y_train)

[00:00:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRFRegressor()

In [20]:
cross_val_score(estimator=model_2, X=X_train, y=y_train).mean()

[00:00:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.7275647321693124

In [21]:
params = [{
  'n_estimators': [75], # tested 50,95...
}] 

xgb_gridsearch = GridSearchCV(
    estimator=model_2,
    param_grid=params,
    cv=5
)

In [22]:
xgb_gridsearch.fit(X_train, y_train)

[00:00:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[00:00:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

GridSearchCV(cv=5, estimator=XGBRFRegressor(),
             param_grid=[{'n_estimators': [75]}])

In [23]:
xgb_gridsearch.best_params_

{'n_estimators': 75}

In [24]:
xgb_gridsearch.score(X_train, y_train)

0.7226617708939596

In [25]:
xgb_gridsearch.score(X_valid, y_valid)

0.7194706774117741

## test submission

In [26]:
X_train.columns

Index(['row_id', 'week', 'day', 'dayofyear', 'weekend', 'country_Norway',
       'country_Sweden', 'store_KaggleRama', 'product_Kaggle Mug',
       'product_Kaggle Sticker', 'quarter_Q2', 'quarter_Q3', 'quarter_Q4',
       'weekday_WD1', 'weekday_WD2', 'weekday_WD3', 'weekday_WD4',
       'weekday_WD5', 'weekday_WD6'],
      dtype='object')

In [27]:
test['num_sold'] = model_1.predict(test)

In [28]:
submission_1 =  test[['row_id','num_sold']]

In [35]:
submission_1.round(decimals=0)

      row_id  num_sold
0      26298     272.0
1      26299     470.0
2      26300     115.0
3      26301     427.0
4      26302     731.0
...      ...       ...
6565   32863     471.0
6566   32864     137.0
6567   32865     452.0
6568   32866     738.0
6569   32867     238.0

[6570 rows x 2 columns]

In [38]:
submission_1.num_sold = submission_1.num_sold.astype(int)

In [39]:
submission_1

      row_id  num_sold
0      26298       271
1      26299       469
2      26300       115
3      26301       426
4      26302       731
...      ...       ...
6565   32863       470
6566   32864       137
6567   32865       451
6568   32866       737
6569   32867       237

[6570 rows x 2 columns]

In [40]:
submission_1.to_csv('test_submission', index=False)